name: virtualship-postprocessing
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - openpyxl
  - xarray
  - scipy
  - pandas
  - matplotlib
  - cartopy
  - cmocean
  - geopy
  - gsw
  - netcdf4
  - h5netcdf
